.table-view {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.table-view .column-header-background {
    -fx-background-color: #0984e3;
}

.table-view .column-header,
.table-view .column-header .label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}


.table-cell {
    -fx-alignment: CENTER;
}
